{% extends '../db_base.html' %}
{% load static %}
{% block title %}Article List{% endblock %}
{% load tz %}

{% block content %}


{% include '../includes/articles_top_bar.html' %}



<!-- Content -->
<div class=" container"
		 style="top: 70; align-items: center;"
		 id="contentMain">
	<h1>Articles</h1>
	<div class="inf-container title-only row "
			 data-infinite-scroll='{ "path": ".pagination__next", "append": ".item", "history": false }'>

		{% for article in articles %}
		<div class="item col-md-6 pb-3">
			<div class="card height-100">
				<div class="card-header cbg-white border-0 cc-dark">
					<div class="fs-5 fw-bold"
							 style="cursor: pointer; ">
						<!-- <span>{{article.title|safe}}</span> -->
						<a href="{{ article.get_absolute_url }}"
							 onclick="return false;"
								id="article_{{ article.uuid }}"
							 onmousedown="toggle_article_detail('{{ article.uuid }}')">{{article.title|safe}}</a>
					</div>
				</div>
				<div class="card-body">
					<div class="card-text"
							 style=" overflow: hidden;">{{ article.truncated_description | safe}}</div>
					<div class="pt-3">
						{{ article.date_published|timesince }}
					</div>
					<div class="pt-3 cc-info">
						<a href="{{ article.feed.get_absolute_url }}">
							{{ article.feed.title }}
						</a>
					</div>
				</div>
			</div>

		</div>
		{% endfor %}
	</div>

	{% if page_obj.has_next %}
	<a class="pagination__next"
		 href="?page={{ page_obj.next_page_number }}">More</a>

	<div class="d-flex justify-content-center">
		<div class="spinner-border cc-primary"
				 style="width: 3rem; height: 3rem;"
				 role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
	{% else %}
	<!-- status elements -->
	<div class="page-load-status">
		<div class="loader-ellips infinite-scroll-request">
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
		</div>
		<p class="infinite-scroll-last">End of content</p>
		<!-- <p class="infinite-scroll-error">No more pages to load</p> -->
	</div>
	{% endif %}


</div>


{% endblock %}