@import "main.css";



body {
    background: url('../images/bg_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
}








/* .navbar {
    background-color: transparent !important;
}

.navbar .navbar-brand {
    color: var(--cw);
    font-size: 1.6rem;
}

.navbar .navbar-toggler {
    color: var(--cw);
}

.nav-link {
    color: var(--cw);
    font-size: 1.4rem;
}

.nav-link:hover {
    color: var(--c2)
}


.card.card-login,
.card.card-signup {
    border-radius: 6px;
    padding-bottom: 1rem;
}
 */


















/*



.menu {
    height: 56px;
    align-items: center;
    padding: 10px 16px;
    margin: 25px 0 20px 0;
}

.menu > .navbar-brand {
    color: var(--cw);
    font-size: 1.6rem;
}







.navbar-toggler {
    color: var(--cw);
}






.menu-link span:hover {
    font-weight: 900;
}






.message {
    padding: 5px 0;
    text-align: center;
    margin: 1rem 1rem 0.25rem 1rem;
}


.wrapper {
    margin: 50px auto;
    height: 440px;
    width: 360px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 */

/*
111111111111111111111111111
 */
