

:root {
  --c1: #f1ebe5;
  --c2: #e7856f;
  --c3: #ed242a;
  --c4: #958A8A;
  --c5: #211F27;
  --cw: white;
  --cb: black;
  --bgc: #D9C9B9;

  --c-white: #ffffff;
  --c-light: #fff3f3;
  --c-dark: #0a0304;
  --c-primary: #6a4128;
  --c-secondary: #b08f77;
  --c-info: #519caf;
  --c-success: #00a45a;
  --c-warning: #e4ca00;
  --c-danger: #f50700;
}

.cbg-white {
    background-color: var(--c-white) !important;
}

.cbg-light {
    background-color: var(--c-light) !important;
}

.cbg-dark {
    background-color: var(--c-dark) !important;
}

.cbg-primary {
    background-color: var(--c-primary) !important;
}

.cbg-secondary {
    background-color: var(--c-secondary) !important;
}

.cbg-info {
    background-color: var(--c-info) !important;
}

.cbg-success {
    background-color: var(--c-success) !important;
}

.cbg-warning {
    background-color: var(--c-warning) !important;
}

.cbg-danger {
    background-color: var(--c-danger) !important;
}


.cc-white {
    color: var(--c-white) !important;
}

.cc-light {
    color: var(--c-light) !important;
}

.cc-dark {
    color: var(--c-dark) !important;
}

.cc-primary {
    color: var(--c-primary) !important;
}

.cc-secondary {
    color: var(--c-secondary) !important;
}

.cc-info {
    color:var(--c-info) !important;
}

.cc-success {
    color: var(--c-success) !important;
}

.cc-warning {
    color: var(--c-warning) !important;
}

.cc-danger {
    color: var(--c-danger) !important;
}


