@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");


:root {
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-first-layer: 100;
  --left-nav-dock-width: 48px;
  --left-nav-list-width: 272px;
  --left-nav-width: 320px;

  --primary: #cb0c9f;
  --secondary: #8392ab;
  --info: #519caf;
  --success: #82d616;
  --danger: #ea0606;
  --warning: #FBCF33;
  --light: #e9ecef;
  --dark: #252f40;
  --white: #ffffff;
}

*,
::before,
::after {
  box-sizing: border-box;
}



a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}


.rotate90 {
  transform: rotate(90deg);
  transition: .5s;
}

img {
  max-width: 60% !important;
  max-height: auto !important;
}


.dropdown-toggle::after {
  content: none;
}



i:hover {
  color: var(--primary);
}

.card-footer button:hover {
  background-color: var(--white);
  color: var(--primary);
}



body {
  font-family: var(--body-font);
  color: var(--dark);
  background: var(--light);
  overflow-x: hidden;
}

body .left-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.5s ease;
  display: flex;
  width: var(--left-nav-width);

}


/* ---------------------------------
              DOCK
------------------------------------*/

body .left-nav .left-nav-dock {
  flex: 0 0 var(--left-nav-dock-width);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  bottom: 0 !important;
  top: 0 !important;
}



.left-nav-dock-logo,
.left-nav-dock-link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 12px;
}

.left-nav-dock-logo {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.left-nav-dock-logo-icon {
  font-size: 1.6rem;
  color: var(--dark) !important;
}

.left-nav-dock-link {
  position: relative;
  margin-bottom: 1.2rem;
  color: var(--dark);
  transition: 0.3s;
}

.left-nav-dock-link:hover {
  color: var(--primary);
  background: var(--light);
}

.left-nav-dock-icon {
  font-size: 1.4rem;
}



.active {
  color: var(--secondary);
}




/*------------------------------------------
            LIST NAV
--------------------------------------------*/


.left-nav-list {
  flex: 0 0 var(--left-nav-list-width);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  color: var(--dark);
  border-right: 1px solid var(--dark);
}

.leftNavList-row,
.leftNavList-row-head {
  border-left: 3px solid var(--light);
  border-right: 3px solid var(--light);
}

.leftNavList-row:hover,
.leftNavList-row-head:hover {
  background: var(--secondary);
  border-left: 3px solid var(--secondary);
}

.leftNavList-active,
.leftNavList-active:hover {
  border-left-color: var(--primary);
  color: var(--primary);
}


.leftNavList-row-head {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem;
}

.leftNavList-row {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0.5rem 0.25rem 2.5rem;
  font-size: 0.9rem;
}


/*-----------------------------------------
        Scrollbar
-----------------------------------------*/
#leftNavList {
  scrollbar-face-color: var(--light); /* Firefox 63 compatibility */
  scrollbar-track-color: var(--primary); /* Firefox 63 compatibility */
  scrollbar-color: var(--primary) var(--light);
  scrollbar-width: thin;
}

#leftNavList::-webkit-scrollbar {
  width: 5px;
}

#leftNavList::-webkit-scrollbar-track {
  background: var(--light);
}

#leftNavList::-webkit-scrollbar-thumb {
  background: var(--light);
  border-radius: 10px;
}

#leftNavList:hover::-webkit-scrollbar-track {
  background: var(--light);
}

#leftNavList:hover::-webkit-scrollbar-thumb {
  background: var(--primary);
}





/*------------------------------------------------
              MAIN COL
-------------------------------------------------- */

.content_container {
  align-items: center;
  position: relative;
}

.content_container.content-w-list-show {
  /* margin-left: var(--left-nav-width); */
  width: calc(100% - var(--left-nav-width)) !important;
  left: var(--left-nav-width);
}

.content_container.content-w-list-hide {
  /* margin-left: var(--left-nav-dock-width); */
  width: calc(100% - var(--left-nav-dock-width)) !important;
  left: var(--left-nav-dock-width);
}


.left-items {
  display: flex;
  align-items: center;
  height: 40px;
  width: 50%;
}

.right-items {
  text-align: right;
  width: 50%;
  position: relative;
  min-height: 1px;
}

.right-items>* {
  display: inline-block;
  position: relative;
}



/* HEADER TOP */
.dropdown-item:hover {
  background-color: var(--secondary) !important;
}

select {
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
}



.card-text {
  align-items: center;
}

.card-text img {
  max-width: 80% !important;
  max-height: auto !important;
}




/*-----------------------------------------
        Float Menu Toggle
-----------------------------------------*/
.float-menu-toggle {
  z-index: var(--z-first-layer);
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: red;
}


.form-label {
  font-weight: bold;
  color: var(--dark);
}







