@import "main.css";


body {
    background: url('../images/bg_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
}
