
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;

}

*,
::before,
::after {
  box-sizing: border-box;
}

body  {
  font-family: var(--body-font);
  color: var(--dark);
}


a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}



.rotate90 {
  transform: rotate(90deg);
  transition: .5s;
}

img {
  max-width: 60% !important;
  max-height: auto !important;
}


.dropdown-toggle::after {
  content: none;
}



i:hover {
  color: var(--primary);
}

.card-footer button:hover {
  background-color: var(--white);
  color: var(--primary);
}



body {
    background: url('../images/bg_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
}
