<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top bg-light">
	<!-- Container wrapper -->
	<div class="container-fluid border-bottom border-dark ">
		<ul class="navbar-nav">
			<li class="nav-item">
				<strong>{{ page_header }}</strong>
			</li>
		</ul>

		<!-- Right elements -->
		<div class="d-flex align-items-center">

			<!-- GO to PREVIOUS ARTICLE -->

			<!-- GO to NEXT ARTICLE -->


			<!-- Mark Read -->
			<div class="btn-group">
				<a href="#"
					 class="text-reset me-4 dropdown-toggle hidden-arrow nav-item"
					 id="navbarDropDownMenuMarkRead"
					 role="button"
					 data-bs-toggle="dropdown"
					 aria-expanded="false">
					<span class="fs-4 nav"
								data-bs-toggle="tooltip"
								title="Mark as Read">
						<i class="bi bi-check-lg"></i>
					</span>
				</a>

				<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropDownMenuMarkRead">
					<div class="px-3 pt-3 text-primary">
						<small>MARK AS READ</small>
					</div>
					<form action="{{request.path}}"
							name="mark_read_form"
							method="post">
					{% csrf_token %}
					<li>
						<a href="" class="dropdown-item">
							<button
								name="day"
								type="submit"
								value="0">All articles</button>
						</a>
					</li>
					<li>
						<a href="" class="dropdown-item">
							<button
								name="day"
								type="submit"
								value="1">Older than 1 day</button>
						</a>
					</li>
					<li>
						<a href="" class="dropdown-item">
							<button
								name="day"
								type="submit"
								value="3">Older than 3 days</button>
						</a>
					</li>
					<li>
						<a href="" class="dropdown-item">
							<button
								name="day"
								type="submit"
								value="7">Older than 1 week</button>
						</a>
					</li>
					<li>
						<a href="" class="dropdown-item">
							<button
								name="day"
								type="submit"
								value="14">Older than 2 week</button>
						</a>

					</li>
				</form>
				</ul>

			</div>

			<!-- Sort/Filter -->
			<div class="dropdown">
				<a href="#"
					 class="text-reset me-3 dropdown-toggle hidden-arrow nav-item"
					 id="navbarDropDownMenuFilter"
					 role="button"
					 data-bs-toggle="dropdown"
					 aria-expanded="false">
					<span class="fs-3"
								data-bs-toggle="tooltip"
								title="Filter Options">
						<i class="bi bi-filter"></i>
					</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropDownMenuFilter">
					<div class="px-3 pt-3 text-primary">
						<small>MARK AS READ</small>
					</div>
					<li>
						<span class="dropdown-item">
							<button
										onclick="sort_newest_first()">
							Newest first
							</button>
						</span>
					</li>
					<li>
						<span class="dropdown-item">
							<button
										onclick="sort_oldest_first()">
							Oldest first
							</button>
						</span>
					</li>

					<div class="px-3 pt-3 text-primary">
						<small>FILTER</small>
					</div>
					<li>
						<span class="dropdown-item">
							<input type="checkbox"
										 onchange="handle_onchange_unread()"
										 id="unread_checkbox"
										 {% ifequal request.GET.unread '0' %}
										 		unchecked
										 	{% else %}
											 	checked
										 	{% endifequal %}>
							<span>Unread only</span>
						</span>
					</li>
				</ul>
			</div>

		</div>
		<!-- Right elements -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->