<!-- Avatar -->
<div class="dropdown">
  <a href="#"
      class="text-reset me-3 dropdown-toggle hidden-arrow "
      id="navbarDropDownMenuAvatar"
      role="button"
      data-mdb-toggle="dropdown"
      aria-expanded="false">
    <span class="fs-5">
      <i class="bi bi-person-square"></i>
    </span>
  </a>

  <ul class="dropdown-menu dropdown-menu-end"
      aria-labelledby="navbarDropDownMenuAvatar">
    <li>
      <a class="dropdown-item"
          href="#">Some news</a>
    </li>
    <li>
      <a class="dropdown-item"
          href="#">Another news</a>
    </li>
    <li>
      <a class="dropdown-item"
          href="#">Something else here</a>
    </li>
  </ul>
</div>