{% extends '../db_base.html' %}
{% load static %}
{% block title %}Article List{% endblock %}
{% load tz %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top cbg-light">
	<!-- Container wrapper -->
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="nav-item">
				Folder 1
			</li>
		</ul>

		<!-- Right elements -->
		<div class="d-flex align-items-center">

			<!-- GO to PREVIOUS ARTICLE -->

			<!-- GO to NEXT ARTICLE -->


			<!-- Mark Read -->
			<div class="dropdown">
				<a href="#"
					 class="text-reset me-3 dropdown-toggle hidden-arrow"
					 id="navbarDropDownMenuMarkRead"
					 role="button"
					 data-mdb-toggle="dropdown"
					 aria-expanded="false">
					<span class="fs-5"
								data-mdb-toggle="tooltip"
								title="Mark as Read">
						<i class="bi bi-check-lg"></i>
					</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropDownMenuMarkRead">
					<div class="px-3 pt-3 cc-info">
						<small>MARK AS READ</small>
					</div>
					<li>
						<a class="dropdown-item"
							 href="#">All articles</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Older than 1 days</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Older than 3 days</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Older than a week</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Older than two weeks</a>
					</li>
				</ul>

			</div>


			<!-- Change Layout -->
			<div class="dropdown">
				<a href="#"
					 class="text-reset me-3 dropdown-toggle hidden-arrow"
					 id="navbarDropDownMenuLayout"
					 role="button"
					 data-mdb-toggle="dropdown"
					 aria-expanded="false">
					<span class="fs-5"
								data-mdb-toggle="tooltip"
								title="Change Layout">
						<i class="bi bi-eye"></i>
					</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropDownMenuLayout">
					<div class="px-3 pt-3 cc-primary">
						<small>LAYOUT</small>
					</div>
					<li>
						<a class="dropdown-item"
							 href="#">Layout 1</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Layout 2</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Layout 3</a>
					</li>
				</ul>

			</div>

			<!-- Sort/Filter -->
			<div class="dropdown">
				<a href="#"
					 class="text-reset me-3 dropdown-toggle hidden-arrow"
					 id="navbarDropDownMenuFilter"
					 role="button"
					 data-mdb-toggle="dropdown"
					 aria-expanded="false">
					<span class="fs-5"
								data-mdb-toggle="tooltip"
								title="Filter Options">
						<i class="bi bi-filter"></i>
					</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropDownMenuFilter">
					<li>
						<a class="dropdown-item"
							 href="#">Some news</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Another news</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Something else here</a>
					</li>
				</ul>
			</div>

			<!-- Avatar -->
			<div class="dropdown">
				<a href="#"
					 class="text-reset me-3 dropdown-toggle hidden-arrow "
					 id="navbarDropDownMenuAvatar"
					 role="button"
					 data-mdb-toggle="dropdown"
					 aria-expanded="false">
					<span class="fs-5">
						<i class="bi bi-person-square"></i>
					</span>
				</a>

				<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropDownMenuAvatar">
					<li>
						<a class="dropdown-item"
							 href="#">Some news</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Another news</a>
					</li>
					<li>
						<a class="dropdown-item"
							 href="#">Something else here</a>
					</li>
				</ul>
			</div>


		</div>
		<!-- Right elements -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->


<!-- Content -->
<div class="mx-3"
		 style="top: 70; align-items: center;"
		 id="contentMain">
	<h1>Articles</h1>
	<div class="inf-container title-only row "
			 data-infinite-scroll='{ "path": ".pagination__next", "append": ".item", "history": false }'>

		{% for article in articles %}
		<div class="item col-md-6 pb-3">
			<div class="card height-100">
				<div class="card-header cbg-white border-0 cc-dark">
					<div class="fs-5 fw-bold"
							 style="cursor: pointer; ">
						<!-- <span>{{article.title|safe}}</span> -->
						<a href="{{ article.get_absolute_url }}"
							 onclick="return false;"
								id="article_{{ article.uuid }}"
							 onmousedown="toggle_article_detail('{{ article.uuid }}')">{{article.title|safe}}</a>
					</div>
				</div>
				<div class="card-body">
					<div class="card-text"
							 style=" overflow: hidden;">{{ article.truncated_description | safe}}</div>
					<div class="pt-3">
						{{ article.date_published|timesince }}
					</div>
					<div class="pt-3 cc-info">
						<a href="{{ article.feed.get_absolute_url }}">
							{{ article.feed.title }}
						</a>
					</div>
				</div>
			</div>

		</div>
		{% endfor %}
	</div>

	<!-- status elements -->
	<div class="page-load-status">
		<div class="loader-ellips infinite-scroll-request">
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
		</div>
		<p class="infinite-scroll-last">End of content</p>
		<p class="infinite-scroll-error">No more pages to load</p>
	</div>

	{% if page_obj.has_next %}
	<a class="pagination__next"
		 href="?page={{ page_obj.next_page_number }}">More</a>

	<div class="d-flex justify-content-center">
		<div class="spinner-border cc-primary"
				 style="width: 3rem; height: 3rem;"
				 role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
	{% endif %}


</div>


{% endblock %}