{% extends '../db_base.html' %}
{% load static %}
{% block title %}Create folder{% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
  <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="border-bottom border-3 border-primary pt-3">
            <strong>Add new folder</strong>
          </h3>
          <form action="."
                method="POST">
            <div class="mt-3">
              {% csrf_token %}
              {{ form|crispy }}
            </div>
            <div class="text-center mb-3 mt-5">
              <button type="submit"
                      class="btn btn-block btn-secondary fw-bold opacity-75 rounded-pill w-75 p-auto">
                SUBMIT
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
