{% extends '../db_base.html' %}
{% load static %}
{% block title %}Create Feed{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">

  <div class="col-md-10 mx-auto">
    <div class="card mt-5 shadow card-rounded">
      <div class="card-header bg-white ">
        <h3 class="border-bottom border-3 border-primary pt-3">
          <strong>Add new feed</strong>
        </h3>
      </div>
      <div class="card-body">
        <form action="." method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-center mb-3 mt-5">
            <button type="submit"
                    class="btn btn-block btn-secondary fw-bold opacity-75 rounded-pill w-75 p-auto">
                    SUBMIT
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>

{% endblock %}
