{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}


<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h4>{% trans "Social Network Login Failure" %}</h4>
    </div>
    <div class="card-body">
      <p class="mb-3">{% trans "An error occurred while attempting to login via your social network account." %}</p>
    </div>
  </div>
</div>



{% endblock %}
