{% load static i18n compress%}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible"
        content="ie=edge">
  <title>{% block title %}FeedsIOne{% endblock title %}</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Feeds Agg App">
  <meta name="author"
        content="Thanh Hoang">

  <link rel="icon"
        href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
  <!-- Latest compiled and minified Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
    integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <!-- Your stuff: Third-party CSS libraries go here -->
  <!-- bootstrap icons -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"
        rel="stylesheet">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        rel="stylesheet" />


  <!-- This file stores project-specific CSS -->
  {% compress css %}
  <link href="{% static 'css/bs.css' %}"
        rel="stylesheet">
  <link href="{% static 'css/dashboard.css' %}"
        rel="stylesheet">
  {% endcompress %}
  {% endblock %}

</head>

<body class="bg-light">


  <!-- side navigation -->
  <div class="left-nav">
    <div class="left-nav-dock bg-white">
      <div>
        <!-- left dock: logo + nav icon -->
        <a href="#"
           class="left-nav-dock-logo"
           data-bs-toggle="tooltip"
           title=""
           data-bs-original-title="Home">
          <span class="left-nav-dock-logo-icon"><i class="bi bi-rss-fill"></i></span>
        </a>

        <!-- toggle -->
        <a href=""
           onclick="expand_nav_list(); return false;"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Feeds Navigation">
          <span class="left-nav-dock-icon"><i class="bi bi-list"></i></span>
        </a>
        <a href="{% url 'news:feed_create' %}"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Add New Feeds">
          <span class="left-nav-dock-icon"><i class="bi bi-plus-lg"></i></span>
        </a>
        <a href="{% url 'search:search_feeds'  %}"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Search Feed">
          <span class="left-nav-dock-icon"><i class="bi bi-search"></i></span>
          <i class="fa-solid fa-magnifying-glass left-nav-dock-icon"></i>
        </a>

      </div>
      <div>
        <!-- bot dock: profile, log out ... -->
        <!-- <a href="#"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Logout">
          <span class="left-nav-dock-icon"><i class="bi bi-box-arrow-right"></i></span>
        </a> -->

        <button type="button"
                class="left-nav-dock-link"
                data-bs-toggle="modal"
                data-bs-target="#logoutModal">
                <span class="left-nav-dock-icon"><i class="bi bi-box-arrow-right"></i></span>
        </button>


      </div>
    </div>

    <!-- nav list -->
    {% include 'includes/nav_list.html' %}

  </div>
  <!-- end side navigation -->

  <!-- content container -->
  <div class="content_container content-w-list-show"
       id="contentContainer">
    {% block content %}
    {% endblock %}
  </div>
  <!-- end content container -->

    <!-- Modal: logout -->
  <div class="modal fade"
      id="logoutModal"
      tabindex="-1"
      >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              id="staticBackdropLabel">{% translate 'Logout' %}</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{% translate 'Are you sure you want to sign out?' %}</p>
        </div>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <div class="modal-footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">{% translate 'Close' %}</button>
            <button type="submit"
                    class="btn btn-primary">{% translate 'Sign Out' %}</button>
          </div>
        </form>

      </div>
    </div>
  </div>







  {% block javascript %}

  <!-- Your stuff: Third-party javascript libraries go here -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <!-- infinity scroll -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/4.0.1/infinite-scroll.pkgd.min.js"
          integrity="sha512-R50vU2SAXi65G4oojvP1NIAC+0WsUN2s+AbkXqoX48WN/ysG3sJLiHuB1yBGTggOu8dl/w2qsm8x4Xr8D/6Hug=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>

  <!-- masonry layout -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
          integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

  <!-- place project specific Javascript in this file -->
  <script defer
          src="{% static 'js/app.js' %}"></script>

  {% endblock javascript %}


  {% block inline_javascript %}
  <script type="text/javascript">
    var CSRF_TOKEN = '{{ csrf_token }}';

    $(document).ready(function () {

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');

      $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
      });


      $('#id-follow').click(function () {

        const data = {
          'feed_slug': '62ur5xtvwqgy-latest-science-news-sciencedaiy',
          'folder_slug': '7ju2easneutm-a-folder-3',
        }

        console.log(data);
        // var serializedData = data.serialize();
        // console.log(serializedData);

        $.ajax({
          type: 'POST',
          url: "{% url 'news:follow_feed' %}",
          beforeSend: function (xhr) {
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
          },
          data: data,
          success: function (data) {
            console.log(data);
          },
          error: function (response) {
            console.log(response);
          }
        });
      });


    });


  </script>
  {% endblock inline_javascript %}



</body>

</html>