{% load static i18n compress%}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible"
        content="ie=edge">
  <title>{% block title %}FeedsIOne{% endblock title %}</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="Feeds Agg App">
  <meta name="author"
        content="Thanh Hoang">

  <link rel="icon"
        href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
  <!-- Latest compiled and minified Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
    integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <!-- Your stuff: Third-party CSS libraries go here -->
  <!-- bootstrap icons -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
        integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"
        rel="stylesheet">

  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        rel="stylesheet" />

  <!-- MDBoostrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
        rel="stylesheet" />

  <!-- This file stores project-specific CSS -->
  {% compress css %}
  <link href="{% static 'css/dashboard.css' %}"
        rel="stylesheet">
  {% endcompress %}
  {% endblock %}

</head>

<body>

  <!-- side navigation -->
  <div class="left-nav">
    <div class="left-nav-dock">
      <div>
        <!-- left dock: logo + nav icon -->
        <a href="#"
           class="left-nav-dock-logo"
           data-bs-toggle="tooltip"
           title=""
           data-bs-original-title="Home">
          <span class="left-nav-dock-logo-icon"><i class="bi bi-rss-fill"></i></span>
        </a>

        <!-- toggle -->
        <a href="#"
           onclick="expand_nav_list(); return false;"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Feeds Navigation">
          <span class="left-nav-dock-icon"><i class="bi bi-list"></i></span>
        </a>
        <a href="#"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Add New Feeds">
          <span class="left-nav-dock-icon"><i class="bi bi-plus-lg"></i></span>
        </a>
        <a href="#"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Search">
          <span class="left-nav-dock-icon"><i class="bi bi-search"></i></span>
          <i class="fa-solid fa-magnifying-glass left-nav-dock-icon"></i>
        </a>
        <a href="#"
           class="left-nav-dock-link"
           data-bs-toggle="tooltip"
           data-mdb-toggle="tooltip"
           title="Filters and Rules">
          <span class="left-nav-dock-icon"><i class="bi bi-funnel"></i></span>
        </a>
      </div>
      <div>
        <!-- bot dock: profile, log out ... -->
        <a href="#"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Theme">
          <span class="left-nav-dock-icon"><i class="bi bi-display"></i></span>
        </a>
        <a href="#"
           class="left-nav-dock-link"
           data-mdb-toggle="tooltip"
           title="Logout">
          <span class="left-nav-dock-icon"><i class="bi bi-box-arrow-right"></i></span>
        </a>
      </div>
    </div>

    <!-- nav list -->
    {% include 'includes/nav_list.html' %}

  </div>
  <!-- end side navigation -->

  <!-- content container -->
  <div class="content_container content-w-list-show"
       id="contentContainer">
    {% block content %}
    {% endblock %}
  </div>
  <!-- end content container -->


  {% block model %}{% endblock %}






  {% block javascript %}
  <!-- Bootstrap JS -->
  <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
    integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <!-- Your stuff: Third-party javascript libraries go here -->

  <!-- MDBoostrap -->
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>

  <!-- infinity scroll -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/4.0.1/infinite-scroll.pkgd.min.js"
          integrity="sha512-R50vU2SAXi65G4oojvP1NIAC+0WsUN2s+AbkXqoX48WN/ysG3sJLiHuB1yBGTggOu8dl/w2qsm8x4Xr8D/6Hug=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <!-- masonry layout -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
          integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.4/umd/popper.min.js"
          integrity="sha512-+Tn2V/oN9O/kiaJg/1o5bETqyS35pMDJzkhkf8uvCzxmRox69AsWkSpBSMEGEe4EZp07Nunw712J3Xvh5Tti0w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>

  <!-- place project specific Javascript in this file -->
  {% compress js %}
  <script defer
          src="{% static 'js/app.js' %}"></script>
  {% endcompress %}

  {% endblock javascript %}


  {% block inline_javascript %}
  <script>
    window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */ });




  </script>
  {% endblock inline_javascript %}



</body>

</html>