{% load static i18n compress %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}FeedsIOne{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Feeds Agg App">
  <meta name="author" content="Thanh Hoang">

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
    integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Your stuff: Third-party CSS libraries go here -->
  <!-- simple line icon -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
    integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- bootstrap icons -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
    integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- This file stores project-specific CSS -->
  {% compress css %}
  <link href="{% static 'css/user.css' %}" rel="stylesheet">
  {% endcompress %}
  {% endblock %}

</head>

<body>

  <nav class="navbar navbar-expand-lg static-top mb-5 shadow ">
    <div class="container mt-4">
      <a class="navbar-brand fs-4 cc-white" href="#">
        <span><i class="bi bi-rss-fill"></i></span>
        <span>FeedsIONE</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon cc-white"><i class="bi bi-three-dots-vertical"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ms-auto ">
          {% if user.is_authenticated %}
          <li class="nav-item mx-2 fs-4 "><a class="nav-link cc-white" href="{% url 'account_email' %}">Change
              E-mail</a></li>

          <li class="nav-item mx-2 fs-4 "><a class="nav-link cc-white" href="{% url 'account_logout' %}"
              class="menu-link">Sign Out</a>
          </li>
          {% else %}
          <li class="nav-item mx-2 fs-4"><a class="nav-link cc-white" href="{% url 'account_login' %}">Login</a></li>
          <li class="nav-item mx-2 fs-4 "><a class="nav-link cc-white" href="{% url 'account_signup' %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>

  <div class="container">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="row">
      {% block inner %}{% endblock  %}

    </div>

  </div>


  <!-- Le javascript
    ================================================== -->
  {% block javascript %}
  <!-- Bootstrap JS -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
    integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Your stuff: Third-party javascript libraries go here -->

  <!-- place project specific Javascript in this file -->
  {% compress js %}
  <script defer src="{% static 'js/user.js' %}"></script>
  {% endcompress %}

  {% endblock javascript %}
</body>

</html>