{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Confirm E-mail Address" %}{% endblock %}


{% block inner %}

<div class="col-md-8 mx-auto">
	<div class="card z-index-0 shadow card-rounded">
		<div class="card-header text-center pt-4">
			<h4 class="mb-1">
				{% translate "Confirm E-mail Address" %}
			</h4>
		</div>
		<div class="card-body">
			{% if confirmation %}
				{% user_display confirmation.email_address.user as user_display %}

				<p>
					{% blocktranslate with confirmation.email_address.email as email %}
					Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.
					{% endblocktranslate %}
				</p>

				<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
					{% csrf_token %}
					<div class="mt-5">
						<button class="btn btn-secondary rounded-pill w-100" type="submit">
							{% translate 'Confirm' %}
						</button>
					</div>
				</form>

			{% else %}
				{% url 'account_email' as email_url %}
				<div>
					<p>
						{% blocktranslate %}
						This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
						{% endblocktranslate %}
					</p>
				</div>
			{% endif %}

		</div>
	</div>
</div>

{% endblock %}


