{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

<div class="col-xl-4 col-lg-5 col-md-7 mx-auto ">
  <div class="card z-index-0 shadow card-rounded" >

    <div class="card-header bg-white border-0 pt-3 fw-bold">
      <div class="text-center fs-3 ">
        {% translate "Sign In" %}
      </div>
    </div>
    <form class="login " method="POST" action="{% url 'account_login' %}">
      <div class="card-body ">

        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}

        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="mb-3">
          <a class="button secondaryAction " href="{% url 'account_reset_password' %}">
            {% trans "Forgot Password?" %}
          </a>
        </div>

        <div class="text-center d-block">
          <button class="primaryAction btn btn-primary rounded-pill w-100 mb-4 py-2 opacity-75"
                  type="submit">
            <span class="">
              {% trans "Sign In" %}
            </span>
          </button>
        </div>



        <!-- Register buttons -->
        <div class="text-center">
          <p>
            {% if ACCOUNT_ALLOW_REGISTRATION %}
            {% blocktranslate trimmed %}
              Not a member? <a href="{{ signup_url }}">Join now</a>
            {% endblocktranslate %}
            {% endif %}
          </p>

          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
          <p>or sign up with:</p>

          <a href="{% provider_login_url 'google' %}"
             class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </a>
          <a href="{% provider_login_url 'github' %}"
             class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </a>

          {% endif %}
        </div>


          <!-- <div>OR</div> -->





      </div>
    </form>

  </div>

</div>


{% endblock %}



