{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

<div class="col-md-10 mx-auto">
	<div class="card">
		<div class="card-header py-3 text-center">
			<h4>
				{% translate "Password Reset" %}
			</h4>
		</div>
		<div class="card-body">
			{% if user.is_authenticated %}
			{% include "account/snippets/already_logged_in.html" %}
			{% endif %}

			<p>
				{% blocktranslate %}
				We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
				{% endblocktranslate %}
			</p>

		</div>
	</div>
</div>


{% endblock %}
