{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}

<div class="col-lg-5 col-md-7 mx-auto">
	<div class="card card-rounded">
		<div class="card-header bg-warning opacity-75 py-3 text-center">
			<h4 class="fw-bold">
				{% translate "Change Password" %}
			</h4>
    </div>
		<div class="card-body">
			<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center d-block mt-3">
					<button class="btn btn-secondary rounded-pill w-100 py-2 opacity-75"
									type="submit"
									name="action">
						{% translate "Change Password" %}
					</button>
				</div>
    </form>
		</div>
	</div>
</div>


{% endblock %}
