{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Set Password" %}{% endblock %}

{% block inner %}

<div class="col-md-10 mx-auto">
	<div class="card">
		<div class="card-header py-3 text-center">
			<h4>{% translate "Set Password" %}</h4>
		</div>
		<div class="card-body">
			<form method="POST"
			      action="{% url 'account_set_password' %}"
			      class="password_set">
			  {% csrf_token %}
			  {{ form|crispy }}
			  <input class="btn btn-primary"
			         type="submit"
			         name="action"
			         value="{% translate 'Set Password' %}" />
			</form>
		</div>
	</div>
</div>







{% endblock %}
