{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

<div class="col-md-8 mx-auto">
	<div class="card">
		<div class="card-header py-3 text-center">
			<h4>{% translate "Password Reset" %}</h4>
		</div>
		<div class="card-body">
			{% if user.is_authenticated %}
				ged_in.html" %}
			{% endif %}

			<p>
			  {% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
			</p>

			<form method="POST"
			      action="{% url 'account_reset_password' %}"
			      class="password_reset">
			  {% csrf_token %}
			  {{ form|crispy }}
			  <div class="text-center">
					<input class="btn btn-secondary"
			         type="submit"
			         value="{% translate 'Reset My Password' %}" />
				</div>
			</form>

			<!-- <p>
				{% blocktranslate %}
				Please contact us if you have any trouble resetting your password.
				{% endblocktranslate %}
			</p> -->

		</div>
	</div>
</div>

{% endblock %}



