{% extends "account_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}

<div class=" mx-auto">
	<div class="card mx-3 card-rounded">
		<div class="card-header bg-white py-3">
			<h4 class="fw-bold">
				<span class="border-bottom border-2 border-primary">
					{% translate "Change Password" %}
				</span>
			</h4>
    </div>
		<div class="card-body">
			<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center d-block mt-3">
					<button class="btn btn-secondary rounded-pill px-5 my-4 "
									type="submit"
									name="action">
						{% translate "Change Password" %}
					</button>
				</div>
    </form>
		</div>
	</div>
</div>


{% endblock %}
