{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block inner %}

<div class="col-xl-4 col-lg-5 col-md-7 mx-auto ps">
  <div class="card z-index-0 shadow card-rounded">
    <div class="card-header bg-white border-0 pt-3 fw-bold">
      <div class="text-center fs-3">
        {% translate "Sign Up" %}
      </div>
    </div>

    <form class=""
          id="signup_form"
          method="post"
          action="{% url 'account_signup' %}">
      <div class="card-body">
        {% csrf_token %}
        {{ form | crispy }}

        {% if redirect_field_value %}
        <input type="hidden"
               name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="text-center d-block">
          <button type="submit"
                class="btn btn-primary rounded-pill w-100 mb-2 py-2 opacity-75">
            <span>{% trans "Sign Up" %} &raquo;</span>
          </button>
        </div>

      </div>
    </form>
  </div>

</div>

{% endblock %}
